<div id="leftBar">
	<a ng-click="gotoPrioriaPlanetOverview()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Prioria</div>
		</div>
	</a>
	<a ng-click="gotoLocalAliens()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Local Aliens</div>
		</div>
	</a>
	<a ng-click="gotoSolarSystem()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Solar System</div>
		</div>
	</a>
</div>
<div id="PrioriaPlanetOverview" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea prioriaDisplayArea">
		prioria
	</div>
</div>
<div id="PrioriaLocalAliens" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea prioriaAliensArea">
		<div class="alienpic" id="cryse"></div>
		<div class="alienpic" id="glaac"></div>
		<div class="alienpic" id="immatoc"></div>
		<div class="alienpic" id="jussoa"></div>
		<div class="alienpic" id="lampreshark"></div>
		<div class="alienpic" id="mythroph"></div>
		<div class="alienpic" id="osswegho"></div>
		<div class="alienpic" id="therosums"></div>
		<div class="alienpic" id="ungulum"></div>
		<div class="alienpic" id="wolvan"></div>
	</div>
</div>
<div id="PrioriaSolarSystem" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea prioriaSystemArea">
		prioria system
	</div>
</div>