<html>
	<head>
		<title>The Galactic Zoo</title>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	 	<script src="/app/angularApp.js"></script>
	 	<base href="/">

	 	<script src="https://use.typekit.net/tgz4cli.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

	 	<script src="/app/components/about/aboutController.js"></script>
	 	<script src="/app/components/journeylogs/journeylogsController.js"></script>
	 	<script src="/app/components/yggdrasil/yggdrasilController.js"></script>
	 	<script src="/app/components/yggdrasil/interiors/observatory/observatoryController.js"></script>
	 	<script src="/app/components/yggdrasil/capabilities/capabilitiesController.js"></script>
	 	<script src="/app/components/yggdrasil/schematics/schematicsController.js"></script>
	 	<script src="/app/components/yggdrasil/interiors/interiorsController.js"></script>
	 	<script src="/app/components/landing/landingController.js"></script>
	 	<script src="/app/shared/mainController.js"></script>
	 	<script src="/app/shared/resizeDirective.js"></script>
	 	<script src="/app/shared/autoscrolltoDirective.js"></script>

	 	
	 	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	 	<link rel="stylesheet" type="text/css" href="assets/css/global.css">
	 	<link rel="stylesheet" type="text/css" href="assets/css/header.css">
	 	<link rel="stylesheet" type="text/css" href="assets/css/footer.css">


	 	<script src="assets/js/header.js"></script>
	 	<!--<script src="assets/js/fittedpages.js"></script>-->
	 	<!--<script src="assets/js/about.js"></script>-->

		<link rel="stylesheet" type="text/css" href="assets/css/about.css">
		<link rel="stylesheet" type="text/css" href="assets/css/ygg.css">
		<link rel="stylesheet" type="text/css" href="assets/css/journeylogs.css">
		<link rel="stylesheet" type="text/css" href="assets/css/front.css">

		<script type="text/javascript">
		<!--
		var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
		if (document.location.protocol == 'https:')
		    unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
		document.write('<script type="text/javascript" src="' + unityObjectUrl + '"></script>');
		-->
		</script>
		<script type='text/javascript' src='https://ssl-webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/jquery.min.js'></script>
		<script type="text/javascript">
		<!--
			var config = {
				width: 1280, 
				height: 720,
				params: { enableDebugging:"1" }
				
			};
			var u = new UnityObject2(config);
			u.initPlugin(jQuery("#unityPlayer")[0], "assets/unity/GZ_Observatory_Web.unity3d");
		-->
		</script>
	</head>
	<body ng-app="gzExp" >
		<ui-view></ui-view>
	</body>
</html>