<html>
	<head>
		<title>The Galactic Zoo</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	 	<script src="/app/angularApp.js"></script>
	 	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	 	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
	 	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|Lato:400,700,900,300' rel='stylesheet' type='text/css'>
	 	<link rel="stylesheet" type="text/css" href="assets/css/global.css">
	 	<script src="assets/js/header.js"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/about.css">
	</head>
	<body ng-app="gzExp" ng-controller="MainCtrl">
		<header>
			<div id="siteTitle"><a href="index.html"><img src="assets/img/g/gztitle_long.png" /></a></div>
		</header>
		<nav id="navMark">
			<div id="responsiveNav">
				<!--<a href="about.html"><div class="navButton navOn">ABOUT THE ZOO</div></a>-->
				<a ui-sref="about"><div class="navButton navOn">ABOUT THE ZOO</div></a>
				<a href="yggdrasil.html"><div class="navButton">YGGDRASIL</div></a>
				<div class="navButton">JOURNEY LOGS</div>
				<div class="navButton">REAL SCIENCE</div>
				<div class="navButton">SHOP THE ZOO</div>
			</div>
		</nav>
		<div id="navDrawer"></div>
		<ui-view></ui-view>
		<div>{{test}}</div>
		<footer>
			<div id="footer">
				<div class="metalBar"></div>
				<div class="section group">
					<div class="col span_1_of_5">
					<h6>ABOUT THE ZOO</h6>
					<ul>
						<li>History</li>
						<li>Hamingja</li>
						<li>Mission</li>
					</ul>
					</div>
					<div class="col span_1_of_5">
					<h6>ZGGDRASIL</h6>
					<ul>
						<li>History</li>
						<li>Hamingja</li>
						<li>Mission</li>
						<li>Tour</li>
					</ul>
					</div>
					<div class="col span_1_of_5">
					<h6>JOURNEY LOGS</h6>
					<ul>
						<li>Excursion 1</li>
						<li>Excursion 2</li>
						<li>Excursion 3</li>
					</ul>
					</div>
					<div class="col span_1_of_5">
					<h6>REAL SCIENCE</h6>
					<ul>
						<li>Water on Mars Confirmed</li>
						<li>Hexagon Storm At Pole</li>
						<li>Another Story</li>
					</ul>
					</div>
					<div class="col span_1_of_5">
					<h6>SHOP</h6>
					<ul>
						<li>Shop the Zoo</li>
					</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>