				<div id="landing">
					<div class="landingCopy">Welcome to the {{test}}</div>
					<div id="titleCenter">
						<div id="titletype">
							<img src="assets/img/landing/gz_logotype.png" />
						</div>
					</div>
					<div class="landingCopy">A Place of Imagination &mdash; Learning &mdash; Sharing</div>
					<a href="#"><div id="downArrow"><img src="assets/img/landing/downarrow.png" /></div></a>
					<!--<div id="landingShadow"></div>-->
				</div>
				<div id="zooIntro" class="content">
					<h1>A Virtual Zoo of the Future</h1>
					<p>Dedicated to the Discovery, Understanding and Preservation of Life throughout the Cosmos.</p>
					<div id="gzBadge">
						<img src="assets/img/landing/gz_badge_og.png" />
					</div>
					<p>
						It is the 24th century. A union of like-minded civilizations from across the Milky Way have
			coalesced to form a partnership of tolerance,
			freedom and inquiry. 
					</p>
					<p>
						Galactic explorers are questing to understand the true connection of all life thriving on oases of vastly separated worlds in a universe of mystery, cataclysmic energies and infinite wonder.
					</p>
					<p>
						From this union, many allied endeavors have been launched. 
					</p>
					<p>
						<a href="about.html"><span class="specialCopy">One of these is the Galactic Zoo.</span></a>
					</p>
					<div id="exploreBtn">
						<a ui-sref="root.main.about"><img src="assets/img/landing/beginbtn.png" /></a>
					</div>
				</div>