@charset UTF-8;

#landing{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: black;
	background-image: url(g/img/spacebackground.png);
	background-position: center;
	background-size: cover;
}
#landingShadow{
	width: 100%;
	float: left;
	background-image: url(../img/shadow.png);
	background-repeat: repeat-x;
	height: 200px;
	position: absolute;
	bottom: -2px;

}
#titleCenter{
	width: 70%;
	margin: 1% 15%;
}
#titletype{
	margin: 0px auto;
}
#titletype img{
	max-width: 100%;
	height: auto;
	width: auto; /* For IE8 */
}

#downArrow{
	width: 77px;
	height: 53px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
#downArrow:hover{
	width: 77px;
	height: 53px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#zooIntro{
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0px auto;
	width: 1280px;
	float: none;
	border-right: 1px solid rgba(255, 255, 255, 0.50);
	border-left: 1px solid rgba(255, 255, 255, 0.50);
}
#zooIntro h1{
	font-size: 42px;
	text-align: center;
	color: white;
	font-family: "Agency FB";
}
#zooIntro p{
	font-size: 18px;
	text-align: center;
	color: white;
	font-family: "PT Sans";
	width: 390px;
	margin: 20px auto;
	line-height: 26px;
	font-weight: 200;
}

#gzBadge{
	width: 318px;
	height: 287px;
	margin: 30px auto;
}
#exploreBtn{
	width: 300px;
	margin: 60px auto;

}

.landingCopy{
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	margin: 30 0;
	text-shadow: -2px -4px 3px #000000;
}
.specialCopy{
	color: #2B9EC4;
}
.specialCopy:hover{
	color: #2B9EC4;
	text-decoration: underline;
}