@charset UTF-8;

.flex-container-m{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.flex-container-v{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.flex-center-child{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
}

html{
	/*background-color: red;*/
	color: white;
	font-family: "myriad-pro", sans-serif;
	background-image: url(../img/g/starfield.png);
}
h1{
	font-size: 42px;
	color: #FFFDF8;
	line-height: 50px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	text-align: center;
	/*margin: 40px auto;*/
	/*float: left;*/
	/*width: 100%;*/
}
h2{
	font-weight: 400;
	text-align: center;
}
p{
	/*float: left;*/
}
.chuckContentHolder{
	display: flex;
	justify-content: space-between;
	float: left;
	width: 100%;
}
.expanded{
	height: 48px;
	width: 100%;
	float: left;
}

.captionTitle{
	text-align: right;
	float: left;
	width: 100%;
	font-family: "myriad-pro";
	font-weight: 700;
	font-size: 14px;
}
.captionCopy{
	text-align: right;
	float: left;
	width: 100%;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 14px;
}
#siteTitle{
	margin: 20 auto;
	width: 600px;
}
.dictionary{
	color: #2B9EC4;
}
.dictionary:hover{
	color: #2B9EC4;
	text-decoration: underline;
}
.gzline{
	color: #3D9299;
	background-color: #3D9299;
}
.fixedLowerBar{
	position: fixed;
	bottom: 0;
	left: 0;
}
#leftBar{
	position: fixed;
	left: 20;
	top: 0;
	bottom: 0;
	/*height: 100%;*/
	width: 142px;
	z-index: 5;
	background: rgba(100,243,255,0.30);
	box-shadow: 2px 3px 28px 0px #3D9299;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.content{
	min-height: 500px;
	float: left;
	width: 100%;
	z-index: -12;
	background-color: rgba(0,0,0,0.7);
}
.leftBarSpacer{
	height: 100%;
	width: 170px;
	flex: none;
}
.rightDisplayArea{
	height: 100%;
	display: flex;
	flex: auto;
	
}
.leftItem{
	width: 100%;
	height: 50px;
}
.leftItemIcon{
	width: 30px;
	height: 30px;
	background-color: white;
	margin: 0 auto;
}
.leftItemLabel{
	height: 20px;
	color: white;
	width: 100%;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}
.chuckContentHolder{
	float: left;
}

a:hover{
	cursor: pointer;
}

p a:link{
	color: #2B9EC4;
	text-decoration: none;
}
p a:hover{
	color: #2B9EC4;
	text-decoration: underline;
}
p a:visited{
	color: #2B9EC4;
}
p a:active{
	color: #2B9EC4;
}

.centerImg{
	margin: 0px auto;
	display: block;
	width: 500px;
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
}
.metalBar{
	height: 54px;
	width: 100%;
	background-image: url(../img/g/topbar.png);
	background-repeat: repeat-x;
	z-index: 10;
	float: left;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

	position: fixed;
    bottom: 0;
}
.metalBarUnstuck{
	position: relative;
	z-index: 9;
}