#journeySelect{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.flex-container-m{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.journeySelectDisplayArea{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.planetPreview{
	width: 400px;
	height: 100%;
	flex: none;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.planetThumbnail{
	width: 400px;
	height: 400px;
	background-image: url("../img/journeylogs/alsamar.jpg");
	background-size: cover;
}
.journeyData{
	flex: auto;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 30px;
}
.journeyTitle{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;

}
.journeySubtitle{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.journeyDescription{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 30px;
}
.journeyLocation{
	text-transform: capitalize;

}
.journeySelectionArea{
	width: 191px;
	height: 100%;
	flex: none;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 30px;
}
.journeySelectionArrow{
	width: 131px;
	height: 131px;
	background-image: url("../img/journeylogs/journeySelectionArrow.png");
	
}