#journeySelect{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

.journeySelectDisplayArea{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.planetPreview{
	width: 400px;
	height: 100%;
	flex: none;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.planetThumbnail{
	width: 400px;
	height: 400px;
	background-size: cover;
}
#alsamar_t{
	background-image: url("../img/journeylogs/alsamar.jpg");
}
#prioria_t{
	background-image: url("../img/journeylogs/prioria.png");
}
#savarus_t{
	background-image: url("../img/journeylogs/savarus.png");
}
.journeyData{
	flex: auto;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 30px;
}
.journeyTitle{
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;

}
.journeySubtitle{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.journeyDescription{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 30px;
}
.journeyLocation{
	text-transform: capitalize;

}
.journeySelectionArea{
	width: 191px;
	height: 100%;
	flex: none;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 30px;
}
.journeySelectionArrow{
	width: 131px;
	height: 131px;
	background-image: url("../img/journeylogs/journeyselectionarrow.png");
	
}

.prioriaDisplayArea{
	background-image: url("../img/journeylogs/prioria/prioria.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.prioriaAliensArea{

}
#cryse{
	background-image: url("../img/journeylogs/prioria/aliens/cryse.png");
}
#glaac{
	background-image: url("../img/journeylogs/prioria/aliens/glaac.png");
}
#immatoc{
	background-image: url("../img/journeylogs/prioria/aliens/immatoc.png");
}
#jussoa{
	background-image: url("../img/journeylogs/prioria/aliens/jussoa.png");
}
#lampreshark{
	background-image: url("../img/journeylogs/prioria/aliens/lampreshark.png");
}
#mythroph{
	background-image: url("../img/journeylogs/prioria/aliens/mythroph.png");
}
#osswegho{
	background-image: url("../img/journeylogs/prioria/aliens/osswegho.png");
}
#therosmus{
	background-image: url("../img/journeylogs/prioria/aliens/therosmus.png");
}
#ungulum{
	background-image: url("../img/journeylogs/prioria/aliens/ungulum.png");
}
#wolvan{
	background-image: url("../img/journeylogs/prioria/aliens/wolvan.png");
}

.alsamarDisplayArea{
	background-image: url("../img/journeylogs/alsamar/alsamar.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.alsamarAliensArea{

}
#abyssbat{
	background-image: url("../img/journeylogs/alsamar/aliens/abyssbat.png");
}
#amphibus{
	background-image: url("../img/journeylogs/alsamar/aliens/amphibus.png");
}
#arak{
	background-image: url("../img/journeylogs/alsamar/aliens/arak.png");
}
#basilisk{
	background-image: url("../img/journeylogs/alsamar/aliens/basilisk.png");
}
#gerrant{
	background-image: url("../img/journeylogs/alsamar/aliens/gerrant.png");
}
#navaras{
	background-image: url("../img/journeylogs/alsamar/aliens/navaras.png");
}
#pastrelope{
	background-image: url("../img/journeylogs/alsamar/aliens/pastrelope.png");
}
#quadranid{
	background-image: url("../img/journeylogs/alsamar/aliens/quadranid.png");
}
#squinn{
	background-image: url("../img/journeylogs/alsamar/aliens/squinn.png");
}
#tuskin{
	background-image: url("../img/journeylogs/alsamar/aliens/tuskin.png");
}
.alienpic{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 500px;
}
.prioriaSystemArea{

}