@charset UTF-8;

#yggMain{
	/*width: 1280px;*/
	margin: 0 auto;
	float: left;
}
#yggpic{
	margin: 0px auto;
	background-image: url("../img/yggdrasil/yggdrasil.jpg");
	/*float: left;*/
	width: 100%;
	height: 60%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
#yggText{
	width: 100%;
	height: 40%;
}

#yggMenu{
	width: 100%;
	float: left;
}
#capabilities{
	background-image: url("../img/yggdrasil/capabilities.png") !important;
}
#deckplans{
	background-image: url("../img/yggdrasil/deckplans.png") !important;
}
#interiors{
	background-image: url("../img/yggdrasil/interiors.png") !important;
}
.yggMenuItem{
	width: 884px;
	height: 182px;
	clear: both;
	margin: 30px auto;
}
.yggMenuItem a:link, .yggMenuItem  a:active, .yggMenuItem a:visited, .yggMenuItem a:hover{
	color: white;
	text-decoration: none;
}
.glow:hover{
	background: rgba(60,249,255,0.14);
	border: 2px solid rgba(60,249,255,0.45);
}
.glow{
	background: rgba(60,249,255,0.04);
	border: 2px solid rgba(60,249,255,0.2);
}
h1{
	margin-bottom: 0px;
}
h2{
	font-size: 30px;
}
.interiorHeroImg{
	border: 2px solid rgba(60,249,255,0.45);
}
.schematicholder{
	border: 2px solid rgba(60,249,255,0.45);
	margin: 10 auto;
	width: 800px;
}
.glowContainer{
	background: rgba(60,249,255,0.14);
	/* Sketch doesnt export pattern fills at this point */
	border: 2px solid rgba(60,249,255,0.45);
	border-radius: 35px 35px 35px 35px;
	-moz-border-radius: 35px 35px 35px 35px;
	-webkit-border-radius: 35px 35px 35px 35px;
}
#yggTitle{
	text-transform: uppercase;
	width: 800px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: 400px;
}
#yggDescription{
	width: 800px;
	margin: 0 auto;
	font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}
#yggCaption{
	width: 240px;
	position: relative;
	top: 320px;
	left: 201px;
}
.ymiText{
	width: 200px;
	float: left;
	height: 100%;
	font-family: "myriad-pro", sans-serif;
	color: white;
}
.ymiTitle{
	width: 100%;
	font-weight: 700;
	font-size: 28px;
	padding: 10;
	text-transform: capitalize;

}
.ymiDesc{
	width: 100%;
	font-weight: 400;
	font-size: 18px;
	padding: 10;
}
.ymiPics{
	width: auto;
	float: left;
}
.ymiPics img{
	float: left;
	margin: 15 10;
	border: 1px solid rgba(60,249,255,0.45);
}
.ymiPics li{
	float: left;
}
/*capabilities*/
.imageCarosel{
	width: 100%;
	height: 50%;
	justify-content: space-around; 
}
.capDesc{
	width: 100%;
	height: 50%;
}
.capDescText{
	padding: 30px;
	line-height: 24px;
}
.capDesText section{
	width: 25%;
}
.capDescTitle{
	text-transform: uppercase;
	font-size: 30px;
}
.caroselImage{
	width: 300px;
	height: 420px;
	background-color: blue;
}
.ymiRightArrow{
	width: 55px;
	background-color: green;
	float: right;
	background: url("../img/yggdrasil/rightarrow.png");
	height: 107px;
	margin: 11 10;
	background-repeat: none;
	background-position: center center;
}
.interiorDescription{
	padding: 30px;
	width: 40%;
	margin: 20 auto;
	clear: both;
}
.interiorHeroImg{
	width: 800px;
	margin: 30px auto;
}
.ucontent{
	padding-bottom: 100px;
	border: 1px solid rgba(60,249,255,0.45);
}