<div id="leftBar">
	<a ng-click="gotoPrioria()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Prioria</div>
		</div>
	</a>
	<a ng-click="gotoAlsaMar()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Alsa Mar</div>
		</div>
	</a>
	<a ng-click="gotoSavarusTriad()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Savarus Triad</div>
		</div>
	</a>
</div>
<div id="PrioriaMain" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea">
	</div>
</div>