<div id="leftBar">
	<a ng-click="gotoAlsaMarPlanetOverview()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Alsa Mar</div>
		</div>
	</a>
	<a ng-click="gotoLocalAliens()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Local Aliens</div>
		</div>
	</a>
	<a ng-click="gotoSolarSystem()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Solar System</div>
		</div>
	</a>
</div>
<div id="AlsaMarPlanetOverview" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea alsamarDisplayArea">
		
	</div>
</div>
<div id="AlsaMarLocalAliens" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea alsamarAliensArea">
	</div>
</div>
<div id="AlsaMarSolarSystem" class="content" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea ">
	</div>
</div>