<div id="leftBar">
	<a ng-click="gotoTop()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Front</div>
		</div>
	</a>
	<a ng-click="gotoFloorPlan()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Elevation</div>
		</div>
	</a>
</div>
<div id="FrontDeckPlan" class="content" auto-scroll-to="Top" autoresize  ng-style="{ height:windowHeight }">
			
			
</div>
<div id="ElevationDeckPlan" class="content" autoresize  ng-style="{ height:windowHeight }">
			
</div>