<div id="leftBar">
	<a ng-click="gotoTop()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Top</div>
		</div>
	</a>
	<a ng-click="gotoFloorPlan()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Floor Plan</div>
		</div>
	</a>
</div>
<div id="Top" class="content" auto-scroll-to="Top" autoresize  ng-style="{ height:windowHeight }">
			<h1>Schematics</h1>
			<h2>Top</h2>
			<div id="" class="schematicHolder">
					<img src="schematics/topschematic.png" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Observatory flavor text
			</div>
</div>
<div id="FloorPlan" class="content" autoresize  ng-style="{ height:windowHeight }">
				<h2>Floor Plan</h2>
			<div id="" class="schematicHolder">
					<img src="schematics/floorplanschematic.png" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Text description of bridge
			</div>
</div>