<div id="yggMain" class="content">
			<h1>Schematics</h1>
			<h2>Top</h2>
			<div id="" class="schematicHolder">
					<img src="schematics/topschematic.png" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Observatory flavor text
			</div>
			<h2>Floor Plan</h2>
			<div id="" class="schematicHolder">
					<img src="schematics/floorplanschematic.png" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Text description of bridge
			</div>
		</div>