<div id="yggMain"class="content">
			<h1>Interiors</h1>
			<h2>Observatory</h2>
			<div id="" class="interiorHeroImg">
				<a href="interiors/observatory.html">
					<img src="observatory_hero.jpg" width="800" height="450"/>
				</a>
			</div>
			<div class="glowContainer interiorDescription">
				Relax in the observatory.
			</div>
			<h2>Bridge</h2>
			<div id="" class="interiorHeroImg">
				<a href="interiors/bridge.html">
					<img src="bridge_hero.jpg" width="800" height="450"/>
				</a>
			</div>
			<div class="glowContainer interiorDescription">
				Man the bridge!
			</div>
			<h2>Aquatic Holding Tank</h2>
			<div id="" class="interiorHeroImg">
				<img src="telescope_hero.jpg" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Feed the fish.
			</div>
		</div>