<div id="leftBar">
	<a ng-click="gotoObservatory()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Observatory</div>
		</div>
	</a>
	<a ng-click="gotoBridge()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Bridge</div>
		</div>
	</a>
	<a ng-click="gotoAquaticHoldingTank()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Aquatic Holding Tank</div>
		</div>
	</a>
</div>
<div id="Observatory" class="content" auto-scroll-to="Observatory" autoresize  ng-style="{ height:windowHeight }">
	<h1>Interiors</h1>
	<h2>Observatory</h2>
	<div id="" class="interiorHeroImg">
		<a ui-sref="root.main.yggdrasil.interiors.observatory">
			<img src="assets/img/yggdrasil/interiors/observatory_hero.jpg" width="800" height="450"/>
		</a>
	</div>
	<div class="glowContainer interiorDescription">
		Relax in the observatory.
	</div>
</div>
<div id="Bridge" class="content" autoresize  ng-style="{ height:windowHeight }">
	<h2>Bridge</h2>
	<div id="" class="interiorHeroImg">
		<a ui-sref="root.main.yggdrasil.interiors.bridge">
			<img src="assets/img/yggdrasil/interiors/bridge_hero.jpg" width="800" height="450"/>
		</a>
	</div>
	<div class="glowContainer interiorDescription">
		Man the bridge!
	</div>
</div>
<div id="AquaticHoldingTank" class="content" autoresize  ng-style="{ height:windowHeight }">
	<h2>Aquatic Holding Tank</h2>
	<div id="" class="interiorHeroImg">
		<img src="assets/img/yggdrasil/interiors/telescope_hero.jpg" width="800" height="450"/>
	</div>
	<div class="glowContainer interiorDescription">
		Feed the fish.
	</div>
</div>