<div id="yggMain" class="content">
			<h1>Interiors</h1>
			<h2>Observatory</h2>
			<div id="" class="interiorHeroImg">
				<a ui-sref="root.main.yggdrasil.interiors.observatory">
					<img src="assets/img/yggdrasil/interiors/observatory_hero.jpg" width="800" height="450"/>
				</a>
			</div>
			<div class="glowContainer interiorDescription">
				Relax in the observatory.
			</div>
			<h2>Bridge</h2>
			<div id="" class="interiorHeroImg">
				<a ui-sref="root.main.yggdrasil.interiors.bridge">
					<img src="assets/img/yggdrasil/interiors/bridge_hero.jpg" width="800" height="450"/>
				</a>
			</div>
			<div class="glowContainer interiorDescription">
				Man the bridge!
			</div>
			<h2>Aquatic Holding Tank</h2>
			<div id="" class="interiorHeroImg">
				<img src="assets/img/yggdrasil/interiors/telescope_hero.jpg" width="800" height="450"/>
			</div>
			<div class="glowContainer interiorDescription">
				Feed the fish.
			</div>
		</div>