<div id="yggMain" class="content">
			<h1>Yggdrasil</h1>
			<div id="yggpic">
				<div id="yggCaption">
					<div class="captionTitle">
						NORSE CLASS GZ-RH
					</div>
					<div class="captionCopy">
						Interstellar research vessel equipped with time-folding, deep-space travel drive and gravity projecting engines.
					</div>
				</div>
			</div>
			
			<h2>Harvest Vessel</h2>
			<div id="yggDescription" class="">
				The”Ygg” is third in a fleet of seven deep-space ships engineered exclusively for the Galactic Zoo. Capable of quartering a Harvest/Science Crew of up to 88, the ship also has a standing operating crew of 112. The ship has no weapons but is equipped with a heavily fortified electromagnetic defensive shielding. The ship is fitted with complete living and recreational levels, an expansive observatory dome, research laboratories, hospital and extensive holding chambers.
			</div>
			<div class="yggMenuItem glow">
				<div class="ymiText">
					<div class="ymiTitle">
						<a ui-sref="root.main.yggdrasil.capabilities">
							Capabilities
						</a>
					</div>
					<div class="ymiDesc">
						See what this baby can do.
					</div>
				</div>
				<div class="ymiPics">
					<ul>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					</ul>
				</div>
				<div class="ymiRightArrow">
				</div>
			</div>
			<div class="yggMenuItem glow">
				<div class="ymiText">
					<div class="ymiTitle">
						<a ui-sref="root.main.yggdrasil.schematics">
							Schematics
						</a>
					</div>
					<div class="ymiDesc">
						Check the blueprints!
					</div>
				</div>
				<div class="ymiPics">
					<ul>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					</ul>
				</div>
				<div class="ymiRightArrow">
				</div>
			</div>
			<div class="yggMenuItem glow">
				<div class="ymiText">
					<div class="ymiTitle">
						<a ui-sref="root.main.yggdrasil.interiors">
							Interiors
						</a>
					</div>
					<div class="ymiDesc">
						Explore inside the ship!
					</div>
				</div>
				<div class="ymiPics">
					<ul>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					</ul>
				</div>
				<div class="ymiRightArrow">
				</div>
			</div>
		</div>