<div id="leftBar">
	<a ng-click="gotoShip()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Harvest Vessel</div>
		</div>
	</a>
	<a ng-click="gotoFeatures()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Ship Features</div>
		</div>
	</a>
</div>
<div id="yggMain" class="content flex-container-m" auto-scroll-to="yggMain" autoresize  ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea flex-container-v">
		<div id="yggpic">
			<div id="yggCaption">
				<div class="captionTitle">
					NORSE CLASS GZ-RH
				</div>
				<div class="captionCopy">
					Interstellar research vessel equipped with time-folding, deep-space travel drive and gravity projecting engines.
				</div>
			</div>
		</div>
		<div id="yggText">
			<div id="yggTitle">Harvest Vessel</div>
			<div id="yggDescription" class="">
				The”Ygg” is third in a fleet of seven deep-space ships engineered exclusively for the Galactic Zoo. Capable of quartering a Harvest/Science Crew of up to 88, the ship also has a standing operating crew of 112. The ship has no weapons but is equipped with a heavily fortified electromagnetic defensive shielding. The ship is fitted with complete living and recreational levels, an expansive observatory dome, research laboratories, hospital and extensive holding chambers.
			</div>
		</div>
	</div>
</div>
<div id="yggMenu" class="content flex-container-m" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea flex-container-vm">
		<a ui-sref="root.main.yggdrasil.capabilities">
			<div class="yggMenuItem glow">
				<div class="ymiText">
					<div class="ymiTitle">Capabilities</div>
					<div class="ymiDesc">Interstellar spaceflight is just the beginning!</div>
				</div>
				<div class="ymiPics">
					<ul>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					</ul>
				</div>
				<div class="ymiRightArrow"></div>
			</div>
		</a>
		<a ui-sref="root.main.yggdrasil.schematics">
			<div class="yggMenuItem glow">
			<div class="ymiText">
				<div class="ymiTitle">Deck Plans</div>
				<div class="ymiDesc">Check out the blueprints!</div>
			</div>
			<div class="ymiPics">
				<ul>
					<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
				</ul>
			</div>
			<div class="ymiRightArrow"></div>
			</div>
		</a>
		<a ui-sref="root.main.yggdrasil.interiors.menu">
			<div class="yggMenuItem glow">
				<div class="ymiText">
					<div class="ymiTitle">Interiors</div>
					<div class="ymiDesc">Take a walkthrough. Explore the ship!</div>
				</div>
				<div class="ymiPics">
					<ul>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
						<li><img src="assets/img/yggdrasil/capabilitiesthumb.png" /></li>
					</ul>
				</div>
				<div class="ymiRightArrow">
				</div>
			</div>
		</a>	
	</div>
</div>