<header>
	<div id="siteTitle"><a ui-sref="root.landing"><img src="assets/img/g/gztitle_long.png" /></a></div>
</header>
<nav id="navMark">
	<div id="responsiveNav">
		<div id="leftNavSpace"></div>
		<a ui-sref="root.main.about" ng-click="activeMenu = 'about'">
			<div class="navButton" ng-class="{active : activeMenu === 'about'}">ABOUT THE ZOO</div>
		</a>
		<a ui-sref="root.main.yggdrasil.ship" ng-click="activeMenu = 'yggdrasil'">
			<div class="navButton" ng-class="{active : activeMenu === 'yggdrasil'}">YGGDRASIL</div>
		</a>
		<a ui-sref="root.main.journeylogs.journeymenu" ng-click="activeMenu = 'journeylogs'">
			<div class="navButton" ng-class="{active : activeMenu === 'journeylogs'}">JOURNEY LOGS</div>
		</a>
		<a ui-sref="root.main.shop" ng-click="activeMenu = 'shop'">
			<div class="navButton" ng-class="{active : activeMenu === 'shop'}">SHOP THE ZOO</div>
		</a>
		<div></div>
	</div>
</nav>
<div id="navDrawer"></div>