<div id="journeySelect" class="content" auto-scroll-to="journeySelect" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea"></div>
</div>
<div class="content flex-container-m" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea"></div>
</div>
<div class="content flex-container-m" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea"></div>
</div>