<div id="leftBar">
	<a ng-click="gotoPrioria()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Prioria</div>
		</div>
	</a>
	<a ng-click="gotoAlsaMar()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Alsa Mar</div>
		</div>
	</a>
	<a ng-click="gotoSavarusTriad()">
		<div class="leftItem">
			<div class="leftItemIcon"></div>
			<div class="leftItemLabel">Savarus Triad</div>
		</div>
	</a>
</div>
<div id="Prioria" class="content journeySelectDisplayArea" auto-scroll-to="Prioria" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea journeySelectDisplayArea">
		<div class="planetPreview">
			<div id="prioria_t" class="planetThumbnail"></div>
		</div>
		<div class="journeyData">
			<div>
				<div class="journeyTitle">Journey to Prioria</div>
				<div class="journeySubtitle">Log 12: Harvest Report</div>
				<div class="journeyDescription">Prioria is a great planet I’m sure is third in a fleet of seven deep-space ships engineered exclusively for the Galactic Zoo. Capable of quartering a Harvest/Science Crew of up to 88, the ship also has a standing operating crew of 112. The ship has no weapons but is equipped with a heavily fortified electromagnetic defensive shielding. The ship is fitted with complete living and recreational levels, an expansive observatory dome, research laboratories, hospital and extensive holding chambers.</div>
				<div class="journeyLocation">Saggitarius Arm – Arcturus System – Third Planet</div>
			</div>
		</div>
		<div class="journeySelectionArea">
			<a ui-sref="root.main.journeylogs.prioria">
				<div class="journeySelectionArrow"> </div>
			</a>
		</div>
	</div>
</div>
<div id="AlsaMar" class="content flex-container-m" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea journeySelectDisplayArea">
		<div class="planetPreview">
			<div id="alsamar_t" class="planetThumbnail"></div>
		</div>
		<div class="journeyData">
			<div>
				<div class="journeyTitle">Journey to Alsa Mar</div>
				<div class="journeySubtitle">Log 12: Harvest Report</div>
				<div class="journeyDescription">Prioria is a great planet I’m sure is third in a fleet of seven deep-space ships engineered exclusively for the Galactic Zoo. Capable of quartering a Harvest/Science Crew of up to 88, the ship also has a standing operating crew of 112. The ship has no weapons but is equipped with a heavily fortified electromagnetic defensive shielding. The ship is fitted with complete living and recreational levels, an expansive observatory dome, research laboratories, hospital and extensive holding chambers.</div>
				<div class="journeyLocation">Saggitarius Arm – Arcturus System – Third Planet</div>
			</div>
		</div>
		<div class="journeySelectionArea">
			<a ui-sref="root.main.journeylogs.alsamar">
				<div class="journeySelectionArrow"> </div>
			</a>
		</div>
	</div>
</div>
<div id="SavarusTriad" class="content flex-container-m" autoresize ng-style="{ height:windowHeight }">
	<div class="leftBarSpacer"></div>
	<div class="rightDisplayArea journeySelectDisplayArea">
		<div class="planetPreview">
			<div id="savarus_t" class="planetThumbnail"></div>
		</div>
		<div class="journeyData">
			<div>
				<div class="journeyTitle">Journey to Savarus Triad</div>
				<div class="journeySubtitle">Log 12: Harvest Report</div>
				<div class="journeyDescription">Prioria is a great planet I’m sure is third in a fleet of seven deep-space ships engineered exclusively for the Galactic Zoo. Capable of quartering a Harvest/Science Crew of up to 88, the ship also has a standing operating crew of 112. The ship has no weapons but is equipped with a heavily fortified electromagnetic defensive shielding. The ship is fitted with complete living and recreational levels, an expansive observatory dome, research laboratories, hospital and extensive holding chambers.</div>
				<div class="journeyLocation">Saggitarius Arm – Arcturus System – Third Planet</div>
			</div>
		</div>
		<div class="journeySelectionArea">
			<a ui-sref="root.main.journeylogs.savarustriad">
				<div class="journeySelectionArrow"> </div>
			</a>
		</div>
	</div>
</div>